@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/cortes";
@import "./partials/ubicacion";
@import "./partials/productos";
@import "./partials/contacto";
@import "./partials/index";
@import "./partials/footer";
@import "./partials/titulos";
@import "./partials/mapas";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-image: url(https://previews.123rf.com/images/natashapankina/natashapankina1609/natashapankina160900101/63622771-modelo-incons%C3%BAtil-de-la-mano-doodle-iconos-peluquer%C3%ADa-establecen.jpg);
}




















































