.container-formulario {
    display: flex;
    flex-direction: column;

    &__formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin: auto;
    }

    &__boton-enviar {
        background-color: black;
        color: white;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        margin: auto;
    }

}

.container-formulario__boton-enviar:hover {
    background: $color-secundario;
    background: $degradado-gris;
    color: black;
    font-weight: bold;
}

.container-redes {

    &__logos-redes {
        display: flex;
        align-items: center;
        justify-content: center;

        &__logos {
            width: 4em;
            height: 4em;
            margin: auto;
            border-radius: 2em;
            background-color: white;
            margin-left: 1em;
            margin-right: 1em;
        }

    }

}

.container-redes__logos-redes__logos:hover {
    transform: scale(1.1, 1.1);
}

.seguinos {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: $color-secundario;
    background: $degradado-gris;
    text-align: center;
    height: 1.5em;
    width: 33%;
}

@media (max-width: 768px) {

    .seguinos {
        width: 80%;
    }
}