@import "./variables";

.container-carrusel {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__carrusel {
        border: 5px solid black;
        width: 50rem;
        height: 40rem;

        &__foto {
            width: 50rem;
            height: 39.5rem;
        }

        &__botones-carrusel {
            background-color: map-get($mapas, background-color);
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50px;
        }


    }

}

.container-carrusel__carrusel__botones-carrusel:hover {
    transform: scale(1.15, 1.15);
}

@media (max-width: 768px) {

    .container-carrusel {

        &__carrusel {
            width: 40rem;
            height: 40rem;

            &__foto {
                width: 40rem;
                height: 39.5rem;
            }

        }

    }
}