@import "./variables";

.navbargeneral {
    background: $color-primario;
    background: $degradado-negro;
}

#MenuNavegacion a {
    text-decoration: none;
    text-transform: uppercase;
    color: map-get($mapas, color);
    font-size: 1.4rem;
    position: relative;
}

#MenuNavegacion a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

#MenuNavegacion a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

#logo {
    width: 7rem;
    height: 7rem;
    border: solid 2px white;
    border-radius: 3.5rem;
    margin-left: 10px;
}

#logo:hover {
    transform: scale(1.1, 1.1);
}

.menugeneral {
    background-color: white;
}

@media (max-width: 768px) {

    #MenuNavegacion a {
        display: flex;
        justify-content: center;
        color: white;
        text-transform: uppercase;
        padding: 10px;
    }

    #MenuNavegacion a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
        margin: auto;
        width: 18%;
    }
}