$color-primario: rgb(0, 0, 0);
$degradado-negro: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(66, 66, 66, 1) 100%);
$color-secundario: rgb(233, 233, 233);
$degradado-gris: radial-gradient(circle, rgba(233, 233, 233, 1) 0%, rgba(143, 143, 143, 1) 100%);


$mapas: (
    color: white,
    background-color: black
);

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin margin ($arriba, $derecha, $abajo, $izquierda) {
    margin-top: $arriba;
    margin-right: $derecha;
    margin-bottom: $abajo;
    margin-left: $izquierda;
}